/* Mobile first part*/
html {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
    background-color: #FFFDF6;
}
header { 
    height: 100vh;
}
.aboutmebtn {
    position: fixed;
    left: auto;
    right: 2vw;
    top: 2px;
    z-index: 5;
}
.aboutmebtn > img {
    margin-top: 2vh;
    margin-right: 2vh;
    width: 12vw;
    max-width: 40px;
}
.introlax {
    margin: 40vh 0 50vh 7vw;
    padding: 0;
    width: 90vw;
    position: fixed;
}

li {
    font-weight: 400;
    font-size: 9.1vw;
    color: #313131;
    padding: 0;
    list-style: none;
    max-width: 90vw;
}
.intro{
    font-weight: 400;
    font-size: 1em;
    color: #313131;
    width: 100vw;
    text-align: center;
    margin: 0 0 50vh 0;
}
h2 {
    font-weight: 700;
    color: #757575;
    font-size: 3.3em;
    margin-top: 2%;
}
.itemcontainer, .stuwebitemcontainer, .biebitemcontainer {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 80vw;
    margin: 0 10vw 30vh 10vw;
    background-color:  #E9F9F5;
    border-radius: 10px;
    box-shadow: 0vw 3vh 50px -30px rgba(0,0,0,.4);
}

.itemcontainer > img {
    height: 25vh;
    margin: 0% 27% 5% 0%;
}
.stuwebitemcontainer > .stuweb, .biebitemcontainer > .bibliotheekimg{
    height: auto;
    width: 90%;
    box-shadow: 0vw 3vh 50px -30px rgba(0,0,0,.4);
    margin: 0% 5% 15% 5%;
}
.biebitemcontainer > h2 {
    font-size: 2.5em;
}

.cta {
    width: 100%;
    display: flex;
}
.cta > a {
    text-decoration: none;
    background-color:#4285F4; ;
    color: white;
    border-radius: 10px;
    padding: 8px 37%;
    margin: auto;
    margin-bottom: 3%;
    box-shadow: 0vw 3vh 50px -30px rgba(0,0,0,.4);
}
footer{
    position: relative;
    height: 50vh;
    display: flex;
    flex-flow: column;
    margin: 45vh 0 20vh 0;
}
.desktopfooter {
    position: relative;
    display:flex;
    flex-flow: column;
}
footer > h2{
    width: 100vw;
    text-align: center;
    margin: 0;
}
.iconcontainer{
    width: 60vw;
    height: 0;
    margin-left: 20vw;
    margin-top: 7vh;
    margin-bottom: 7em;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
.mail{
    text-decoration: none;
    background-color:#4285F4; ;
    color: white;
    border-radius: 10px;
    padding: 8px 0;
    width: 70vw;
    margin: 0;
    text-align: center;
    margin-left: 15vw;
}


/* Product page */
.backtext {
    right: 20px;
    font-size: 1em;
    text-decoration: none;
    color: #313131;
    margin-left: 4px;
    margin-top: 0px;
    height: 0;
}
.back {
    display: flex;
    flex-flow: row;
    margin-top: 3vh;
    margin-left: 3vw;
    margin-bottom: 0;
}

.back > a > img {
    margin: auto;
    width: 1.5em;
}
a > img {
    width: 15vw;
}
nav > ul > li {
    margin: 0;
    margin-right: 6vw;
    padding: 0;
    display: flex;
    align-items: center;
}
.productheader {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    height: auto;
}
li > a {
    font-size: 2.2vh;   
    font-weight: 500;
    text-decoration: none;
    color: #C1C1C1;
}
nav {
    display: flex;
    justify-content: center;
    width: 100vw;
    margin-top: 4vh;
}
nav > ul{
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    width: 85%;
    align-items: center;
    max-width: 400px;
    margin: 0;
}
section > nav {
    margin-bottom: 15%;
}
.active{
    position: relative;
    top: 0vh;
    font-weight: 500;
    font-size: 2.5vh;
    background-color: #4285F4;
    color: white;
    padding: 4px 6px;
    border-radius: 8px;
}
h1 {
    margin-left: 5vw;
    font-size: 1.3em;
    color: #757575;
}
p {
    font-size: 0.9em;
    margin: 0 10vw 10vh 5vw;
}
.content {
    display: flex;
    flex-flow: column;
    width: 100vw;
    background-color: #242424;
    margin-bottom: 0;
}
.langhint{
    font-size: 0.5em;
    color: #FFFDF6;
    width: 100vw;
    text-align: center;
    margin: 15vh 0 13vh 0;
}
li > img {
    width: 90vw;
    margin: 0 5vw 10vw 5vw;
}
.content > ul, .imagerow{
    list-style: none;
    padding-inline-start: 0;
}
.productfooter{ 
    margin-top: 0;
    height: 25vh;
}
.mobilehidden {
    display: none;
}
.hidden {
    display: none;
}

/* About me page */

.mobiletop {
    position: absolute;
    top: 0;
    margin-top: 20vh;
    margin-bottom: 0;
}
.aboutheader {
    max-height: 40vh;
}



/* Animations */

.fade-element {
    opacity: 0;
    -webkit-transition-delay: .5s;
    -o-transition-delay: .5s;
    transition-delay: .5s;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s cubic-bezier(0.79, 0, 0.6, 1);
    transform: translateY(200px) rotate(-5deg);
}
.inView {
    opacity: 1;
    transform: translateY(0px) rotate(0deg);
  }




@media screen and (min-width: 480px) {
    h2 {
        font-size: 6em;
    }
    .itemcontainer > img {
        margin: 0% 22% 5% 0%;
    }
    a {
        font-size: 1.7em;
    }
    .iconcontainer {
        margin-bottom: 18vh;
    }
    .mail {
        width: 50vw;
        margin: 0 25vw;
    }
    p{
        font-size: 1.4em;
        margin: 0 10vw 10vh 5vw;
    }
    .backtext {
        font-size: 1.4em;
    }
    h1 {
        font-size: 3.5em;
        margin-bottom: 3vh;
    }
    li > a {
        position: relative;
        bottom: 1.5vh;
    }
}
@media screen and (min-width: 992px) {
    html {
        overflow-x: hidden;
    }
    header {
        height: 100vh;
        width: 100vw;
        display: flex;
        margin-bottom: 45vh;
    }
    .introlax {
        margin-top: 15vh;
        margin-left:  5vw;
    }
    .intro {
        padding-bottom: 50vh;
        width: 100%;
        margin: 0;
    } 
    .homecontainer {
        display: flex;
        flex-direction: column;
        width: 100vw;
        align-items: center;
    }
    article {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1200px;
        margin: 0;
        padding: 0;
    }
    .itemcontainer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 90%;
        background-color: transparent;
        margin: 0 5% 10% 5%;
        padding: 0;
        border-radius: 0;
        box-shadow: none;
    }
    .itemcontainer > .ubicompimg { 
        width: 25%;
        margin: 0;
        background-color: #E9F9F5;;
        padding: 10% 18% 10% 10%;
        border-radius: 2.5%;
        box-shadow: 0vw 3vh 50px -30px rgba(0,0,0,.4);
    }
    .ubicompcta {
        position: absolute;
        top: 70%;
        left: 58%;
        width: 15%;
    }
    .stuwebitemcontainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90%;
        background-color: transparent;
        margin: 0 5% 0% 5%;
        padding: 0;
        border-radius: 0;
        box-shadow: none;
    }
    .stuwebitemcontainer > .stuweb {
        width: 30%;
        object-fit: contain;
        padding: 12% 12% 12% 12%;
        background-color: #E9F9F5;;
        border-radius: 2.5%;
        margin-right: 0;
    }
    .stuwebcta {
        width: 15%;
        position: absolute;
        top: 60%;
        left: 0;
    }
    .biebitemcontainer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        width: 90%;
        background-color: transparent;
        margin: 0 5% 10% 5%;
        padding: 0;
        border-radius: 0;
        box-shadow: none;
    }
    .biebitemcontainer > .bibliotheekimg {
        width: 30%;
        margin: 0;
        background-color: #E9F9F5;;
        padding: 12% 12% 12% 12%;
        border-radius: 2.5%;
        box-shadow: 0vw 3vh 50px -30px rgba(0,0,0,.4);
    }
    .biebitemcontainer > h2 {
        position: relative;
        margin-top: 7%;
        margin-right: 4%;
        font-size: 4em;
    }
    .bibliotheekcta {
        position: absolute;
        top: 70%;
        left: 60%;
        width: 15%;
    }
    footer{
        width: 90vw;
        height: 30vh;
        display: flex;
        flex-flow: column;
        margin: 45vh 0 20vh 0;
    }
    footer > h2{
        width: 100vw;
        text-align: left;
    }
    .iconcontainer{
        height: 0;
        margin-top: 4vw;
        margin-bottom: 7em;
        display: flex;
        flex-flow: row;
        justify-content: left;
    }
    .iconcontainer img {
        width: 4vw;
        margin-left: 2vw;
    }
    .mail{
        text-decoration: underline;
        background-color: transparent;
        color: #4285F4;
        border-radius: 10px;
        width: 20vw;
        height: 31px;
        margin: 4vw;
        margin-left: 0.5vw;
        text-align: center;
    }
    .desktopfooter {
        display: flex;
        flex-direction: row-reverse;
    }


    /* Productpagina */

    .langhint {
        font-size: 1em;
    }
    nav > ul > li {
        height: 100%;
        margin: 0;
        margin-right: 6vw;
        padding: 0;
        display: flex;
        align-items: center;
    }
    li > a {
        font-size: 1vw;   
        font-weight: 500;
        text-decoration: none;
        color: #C1C1C1;
        margin: 0;
        position: relative;
        bottom: 0;
    }
    nav {
        display: flex;
        justify-content: center;
        width: 100vw;
        margin-top: 4vh;
    }
    nav > ul{
        display: flex;
        flex-flow: row;
        justify-content: space-evenly;
        width: 85%;
        height: 100%;
        align-items: center;
        max-width: 992px;
        margin: 0;
        padding: 0;
    }
    section > nav {
        margin-bottom: 15%;
    }
    .active{
        position: relative;
        top: 0vh;
        font-weight: 500;
        font-size: 1.3vw;
        background-color: #4285F4;
        color: white;
        padding: 4px 6px;
        border-radius: 8px;
        margin-top: 0;
    }
    h1 {
        margin-top: 20vh;
    }
    p {
        margin-bottom: 20vh;
    } 

    /* About me page */
    .aboutheader {
        margin: 0;
        max-height: 10vh;
        position: fixed;
    }
    .aboutmecontainer {
        display: flex;
        flex-direction: wrap;
        width: 100vw;
        margin: 0;
        margin-right: 0;
        max-width: none;
        position: relative;
        top: 0;
        margin-bottom: 100vh;
    } 
    .mobiletop {
        position: relative;
    }
    .introaboutme {
        width: 50%;
        margin-top: 35vh;
        margin-left: 47%;
    }
    .introaboutme > ul {
        width: 100%;
        max-width: none;
        margin: 0%;
    }
    .introaboutme > li {
        font-size: 4em;
        width: 60vw;
        max-width: none;
    }
    .profilepicture{
        margin-top: 15vh;
        min-width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: -webkit-sticky;
        position: fixed;
    }
    .profilepicture > img {
        box-shadow: 0vw 3vh 30px -30px rgba(0,0,0,.4);
    }
    .aboutmetext {
        margin-top: 50vh;
    }
    .aboutmetext > p, h3 {
        max-width: 40vw;
        margin-left: 50%;
    }
    .aboutmetext >  h3 {
        font-size: 2em;
        color: #757575;
    }

}